<%@ Page Language="VB" AutoEventWireup="false" CodeFile="helpdesk_optimisationupload.aspx.vb" Inherits="helpdesk_optimisationupload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>helpdesk optimisation upload</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btnRunImport" runat="server" Text="Run Import" /><br />
        <br />
        <asp:Label ID="lbloutput" runat="server"></asp:Label>        
    </div>
    </form>
</body>
</html>
